<div class="row mt-5 bg-dark text-light" style="height: 200px;">
    <div class="col-4 mt-5">
        <h1>Get IN Touch</h1>
        <p><fa-icon [icon]="faMailForward"></fa-icon> Eslam.sa3d96@gmail.com</p>
        <p><fa-icon [icon]="faContactBook"></fa-icon> +201144567834</p>
    </div>
    <div class="col-4 align-items-center">
        <a class="btn btn-outline-light btn-lg d-flex justify-content-center mt-5" href="#!" role="button">Contact Me</a>
    </div>
    <div class="col-4 d-flex justify-content-center mt-5">
        <fa-icon class="p-2" [icon]="faFacebook"></fa-icon>
        <fa-icon class="p-2" [icon]="faTwitter"></fa-icon>
        <fa-icon class="p-2" [icon]="faLinkedin"></fa-icon>

    </div>
</div>