<div class="row d-flex mt-5 text-center text-dark mb-4 ">
    <div class=" col-12 col-md-6 col-3">
        <h1 class="header">About Me</h1>
    </div>
    <div class="col-12 col-md-6 col-9 text-start">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima itaque quisquam magni <br> odit consectetur
            dolorum cumque atque, voluptatibus ad velit! Neque, <br> excepturi veritatis quibusdam iusto dolores
            sapiente cum officia esse?</p>

        <a class="btn btn-outline-dark mt-3" href={{file}} download> Download Resume</a>
    </div>
</div>